# -- Image settings for the Keycloak Init Job
image:
  repository: your-repo/keycloak-init-image # Replace with your Docker image repository
  tag: latest # Replace with your Docker image tag
  pullPolicy: IfNotPresent # Or Always, depending on your needs

# -- Keycloak connection details
keycloak:
  baseUrl: "http://keycloak.default.svc.cluster.local:8080" # Replace with your Keycloak service URL
  realm: "master" # The realm where clients will be created
  adminAuthRealm: "master" # The realm for admin authentication
  adminUsername: "admin" # Keycloak admin username
  adminPasswordSecretName: "keycloak-admin-password" # Name of the Kubernetes Secret containing the admin password
  adminPasswordSecretKey: "password" # Key within the Secret that holds the password
  adminClientId: "admin-cli" # Keycloak admin client ID

# -- Job configuration
job:
  backoffLimit: 3 # Number of retries before the job is marked as failed
  activeDeadlineSeconds: 300 # Total active time of the job (in seconds)
  restartPolicy: OnFailure # Pod restart policy for the job: OnFailure or Never
  # -- Annotations for the Job pod.
  podAnnotations: {}
  #   example.com/annotation: "value"

# -- Path to the script inside the Docker image
scriptPath: "/app/create_clients.sh"

# -- Content for config.template.json and client.template.json
# These will be mounted into the Job pod as files.
keycloakTemplates:
  configTemplateJson: |
    {
        "clients": {
            "CLIENT1": {
                "name": "Client 1",
                "secret": "abc",
                "roles": [
                    "Admin",
                    "user"
                ],
                "sa_roles": [
                    "KEYMANAGER_ADMIN",
                    "ID_REPOSITORY"
                ],
                "addl_default_scopes": [
                    "scope1"
                ],
                "addl_optional_scopes": [
                    "scope2"
                ]
            },
            "CLIENT2": {
                "name": "Client 2",
                "secret": "xyz",
                "sa_roles": [
                    "KEYMANAGER_ADMIN"
                ],
                "addl_default_scopes": [
                    "scope1","scope2"
                ]
            }
        },
        "realm_roles": [
            "KEYMANAGER_ADMIN",
            "ID_REPOSITORY"
        ],
        "client_scopes": {
            "scope1": {
                "include_in_token_scope": true
            },
            "scope2": {}
        }
    }
  clientTemplateJson: |
    {
        "clientId": "${client_id}",
        "name": "${client_name}",
        "description": "",
        "rootUrl": "",
        "adminUrl": "",
        "baseUrl": "",
        "surrogateAuthRequired": false,
        "enabled": true,
        "alwaysDisplayInConsole": true,
        "clientAuthenticatorType": "client-secret",
        "secret": "${client_secret}",
        "redirectUris": [
            "*"
        ]
    }
