apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "keycloak-client-initializer.fullname" . }}
  labels:
    {{- include "keycloak-client-initializer.labels" . | nindent 4 }}
  annotations:
    # This annotation ensures the job runs only once per release install/upgrade
    # If the job fails, it will retry up to job.backoffLimit times.
    # To re-run the job after a successful run, you need to delete the Job resource and then run helm upgrade --install
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "1" # Ensures it runs after other resources are created
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded,hook-failed # Clean up previous job on new run or after success/failure
spec:
  template:
    metadata:
      {{- with .Values.job.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "keycloak-client-initializer.selectorLabels" . | nindent 8 }}
    spec:
      {{- if .Values.serviceAccount.create }}
      serviceAccountName: {{ include "keycloak-client-initializer.fullname" . }}-sa # If you create a SA
      {{- else if .Values.serviceAccount.name }}
      serviceAccountName: {{ .Values.serviceAccount.name }} # Use an existing SA
      {{- end }}
      restartPolicy: {{ .Values.job.restartPolicy }}
      containers:
        - name: keycloak-initializer
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: KEYCLOAK_BASE_URL
              value: {{ .Values.keycloak.baseUrl | quote }}
            - name: KEYCLOAK_REALM
              value: {{ .Values.keycloak.realm | quote }}
            - name: KEYCLOAK_ADMIN_AUTH_REALM
              value: {{ .Values.keycloak.adminAuthRealm | quote }}
            - name: KEYCLOAK_ADMIN_USERNAME
              value: {{ .Values.keycloak.adminUsername | quote }}
            - name: KEYCLOAK_ADMIN_CLIENT_ID
              value: {{ .Values.keycloak.adminClientId | quote }}
            - name: KEYCLOAK_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.keycloak.adminPasswordSecretName }}
                  key: {{ .Values.keycloak.adminPasswordSecretKey }}
            - name: CONFIG_JSON_FILE_PATH
              value: "/mnt/keycloak-templates/config.template.json"
            - name: CLIENT_JSON_FILE_PATH
              value: "/mnt/keycloak-templates/client.template.json"
          volumeMounts:
            - name: keycloak-templates-volume
              mountPath: "/mnt/keycloak-templates"
              readOnly: true
          command: ["/bin/bash", "-c"]
          args:
            - |
              echo "Starting Keycloak client initialization script..."
              {{ .Values.scriptPath }}
              echo "Keycloak client initialization script finished."
      volumes:
        - name: keycloak-templates-volume
          configMap:
            name: {{ include "keycloak-client-initializer.fullname" . }}-keycloak-templates
  backoffLimit: {{ .Values.job.backoffLimit }}
  {{- if .Values.job.activeDeadlineSeconds }}
  activeDeadlineSeconds: {{ .Values.job.activeDeadlineSeconds }}
  {{- end }}
