apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "common.names.fullname" . }}
data:
  odk.conf.template: |-
    {{- tpl .Values.odkConfTemplate $ | nindent 4 }}
  setup-odk.sh: |-
    {{- tpl .Values.setupOdkScript $ | nindent 4 }}
